:root {
    --main-color-accent: #264BA1;
    --dark-color-accent: #383B52;
}

body {
    max-width: 900px;
    margin: 50px auto;
}

.enrollment * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.enrollment ul {
    margin: 0;
    padding: 0;
}

.enrollment section {
    margin: 50px 25px;
    padding: 25px;
    border: solid 3px var(--main-color-accent);
    border-radius: 25px;
}


.enrollment .text-center {
    text-align: center;
}

.enrollment h2,
.enrollment h3 {
    font-weight: 600;
}

.enrollment h2 {
    font-size: 24px;
}

.enrollment h3 {
    font-size: 18px;
    
}


/* cards */

.enrollment .row-card {
    display: flex;
    justify-content: space-between;
}

.enrollment .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-weight: 300;

    max-width: 40%;
}

.enrollment .card h3 {
    font-size: 14px;
    font-weight: 600;
}

.enrollment .card ul {
    margin-top: 25px;

    list-style: none;
    font-size: 14px;
}

.enrollment .card ul li div {
    margin-top: 5px;
}

.enrollment .card ul li::after {
    content: '';
    display: block;
    
    width: 0%;
    height: 3px;
    
    border-radius: 100px;
    background-color: var(--main-color-accent);
    
    margin: 3px 0;

    transition: all 0.35s linear;
}

.enrollment .card ul li:hover::after {
    width: 80%;
}

.enrollment .card li div {
    display: flex;
    align-items: center;
}

.enrollment .card li div a {
    color: var(--main-color-accent);
    text-decoration: none;
}

.enrollment .card li div svg {
    fill: var(--main-color-accent);
    margin-right: 5px;
}

/* button */

.enrollment .card .button_dikidi {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color-accent);
    background-color: transparent;
    border: solid 2px var(--main-color-accent);
    border-radius: 50px;
    align-self: center;
    transition: all 0.3s linear;
}

.enrollment .card .button_dikidi:hover {
    background-color: var(--main-color-accent);
    color: bisque;
    
    padding: 15px 40px;
    
    font-weight: 600;
    letter-spacing: 0.05em;
}


/* switcher */

.enrollment .switcher {
    display: flex;
    margin: 25px 15px;
}

.enrollment .switcher button:last-child {
    margin-left: 30px;
}

.enrollment .switcher button {
    background: transparent;
    border: none;

    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.01em;
    
    transition: all 0.3s linear;
}

.enrollment .switcher button.active-button {
    color: var(--main-color-accent);
    letter-spacing: 0.05em;
}

.enrollment .switcher button::after {
    content: '';
    display: block;
    
    width: 0%;
    height: 3px;
    
    border-radius: 100px;
    background-color: var(--main-color-accent);
    
    margin: 3px auto;

    transition: all 0.3s linear;
}

.enrollment .switcher button.active-button::after,
.enrollment .switcher button:hover::after {
    width: 80%;
}


/* table */

table {
    display: none;
    visibility: collapse;
    border-spacing: 0;
}

.enrollment .table {
    opacity: 0;
    overflow: auto;

    transition: all 1s linear;
}

.enrollment .table.active-table {
    opacity: 1;
}

.enrollment .table.active-table table {
    visibility: visible;
    display: table;
    border: 2px solid var(--main-color-accent);
}


.enrollment .active-table table,
.enrollment .active-table table tr,
.enrollment .active-table table td,
.enrollment .active-table table th {
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--main-color-accent);
    padding: 6px;
    border-collapse: collapse;
}


/* request docs */

.enrollment .request-docs article {
    margin: 25px 10px;
}

.enrollment .request-docs article ol {
    margin: 15px;
}

.enrollment .request-docs article ol li {
    margin: 10px 0;
}

.enrollment .request-docs article ol li::marker {
    color: var(--main-color-accent);
    font-weight: 300;
}


/* docs */

.enrollment .docs ul {
    list-style: none;
    margin: 25px 0;
}

.enrollment .docs ul li {
    margin: 15px 0;

    font-size: 15px;

    border: solid 3px var(--main-color-accent);
    border-radius: 5px;

    transition: all 0.3s linear;
}

.enrollment .docs ul li a {
    padding: 10px;
    
    display: block;
    width: 100%;

    color: inherit;
    text-decoration: none;
}

.enrollment .docs ul li a::before {
    content: url(../images/docs.svg);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.enrollment .docs ul li:hover {
    color: var(--main-color-accent);
}


@media screen and (max-width: 650px) {
    .row-card {
        flex-direction: column;
    }

    .row-card .card:last-child {
        margin-top: 40px
    }


    .row-card .card {
        max-width: 100%;
    }

    .row-card .card > *:not(:first-child) {
        margin-top: 20px;
    }

    .row-card .card ul {
        margin: 0;
    }
}

